@model List<FoodCategory>

@{
    ViewData["Title"] = "Food Categories";
}

<h1 class="text-center">Food Categories</h1>
<hr />

@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @ViewBag.ErrorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<div class="toolbar">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</div>

<table data-classes="table table-sm table-hover" data-page-size="5" data-page-list="[5, 10, 25, 50, 100, All]" data-toolbar=".toolbar" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
        <tr>
            <th>Category Id</th>
            <th data-sortable="true">Category Name</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-Id="@category.Id">Edit</a>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#CategoryDeleteModal"
                            data-bs-categoryId="@category.Id" data-bs-categoryName="@category.Name">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="CategoryDeleteModal" tabindex="-1" data-bs-backdrop="true" role="dialog" aria-labelledby="CategoryDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CategoryDeleteModalLabel">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="CategoryDeleteConfirmMessage"></p>
            </div>
            <div class="modal-footer">
                <form id="CategoryDeleteForm" method="post" action="">
                    <input class="btn btn-danger" type="submit" value="Yes" />
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#CategoryDeleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.attr('data-bs-categoryId');
        var name = button.attr('data-bs-categoryName');

        var CategoryDeleteConfirmMessage = $('#CategoryDeleteModal #CategoryDeleteConfirmMessage');
        var CategoryDeleteForm = $('#CategoryDeleteModal #CategoryDeleteForm');

        CategoryDeleteConfirmMessage.text('Are you sure you want to delete category ' + name + '?');
        CategoryDeleteForm.attr('action', '/Manage/FoodCategories/Delete/' + id);
    });
</script>